
/*****  Global Styling *****/

body {
    color: #424242;
    font: 16px 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #3991ff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/***** Global Buttons *****/

.button {
	border-radius: 42px;
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 0.9em;
	padding: 1em 2em;
    text-decoration: none;
    margin: 4em 0;
}

.button:link,
.button:visited {
    color: black;
}

.button:hover {
    background-color:black;
    color: white;   
}

/***** Global Footer *****/

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 3em 0 4em;
}

.footer-social li {
    display: inline;
    font-size: 2em;
    padding: 0.4em;
}

.footer-social li a {
    color: #202020;
    font-weight: normal;
}

.footer-social:hover > li {
    opacity: 0.5;
}

.footer-social:hover > li:hover {
    opacity: 1.0;
}

/***** Global Media Queries *****/

.content {
    margin: 0 30px;
    flex: 1;
}

@media screen and (min-width: 1100px) {

    .content {
        width: 1070px;
        margin-left: auto;
        margin-right: auto;
    }
}