body {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.7em;
}

a:link {
    color: #3991ff;
    text-decoration: none;
}

a:visited {
    color: #3991ff;
}

a:hover {
    color: #1f61b1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-image: url(../images/Bernhardt-Mountains.png);
    background-size: cover;
    padding: 130px 0 40px;
    transform: skew(0deg, 4deg) translateY(-130px);
}

.site-logo {
    max-width: 65%;
}

.header-title {
    margin: 30px 30px;
    transform: skew(0deg, -4deg);
}

.header-social li {
    color: #3991ff;
    display: inline;
    font-size: 2em;
    margin-right: 10px;
}

.content {
    margin: 0 30px;
    flex: 1;
}

.bio {
    margin: -70px 0 50px 0;
}

.bio p {
    padding-bottom: 15px;
}

.projects-header {
    color: #3991ff;
    margin: 0;
}

.projects-container {
    margin-bottom: 150px;
}
.project {
    display: block;
    margin: 60px 0;
}

.project-img {
    width: 100%;
}

.project-name {
    margin: 5px 0;
}

.project-role {
    margin: 0;
    color: #9c9c9c;
}

.project-summary {
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
}

.footer-contact {
    padding: 40px 0 20px 0;
}

.footer-contact li {
    color: #ececec;
    font-size: 1em;
    padding: 6px 0;
}

.footer-diamond {
    display: none;
}

.footer-social li {
    display: inline;
    font-size: 2em;
    padding: 0 20px;
}

/*** MEDIA QUERIES ***/

@media screen and (min-width: 800px) {
    .bio {
        width: 75%;
    }

    .footer-contact li {
        display: inline;
        padding: 0 10px;
        font-size: 1em;
        letter-spacing: 1px;
    }

    .project {
        display: inline-block;
    }

    .project-title {
        float: left;
        width: 40%
    }

    .project-name {
        margin: 15px 0 0 30px;
    }
    
    .project-role {
        margin: 5px 0 0 30px;
    }

    .project-summary {
        float: right;
        width: 60%;
        margin: 15px 0;
    }
}

@media screen and (min-width: 1024px) {
    .header-title,
    .content {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
}