
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

header,
footer,
section,
article,
div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link {
    color: #3991FF;
}

a:visited {
    color: #542189;
}

p {
    line-height: 1.7em;
    padding-bottom: 15px;
}

header {
    margin: 80px 0;
    background: #ececec;
    padding: 100px 0;
    transform: skew(0deg, 4deg) translateY(-130px);
}

.title {
    padding: 0 30px;
    transform: skew(0deg, -4deg);
}
.title h1 {
    color: #000;
    font-size: 1.7em;
    margin: 5px 0 10px;
}

.btn {
    background: white;
    border: 2px solid #3991FF;
    color: #3991FF;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0px 6px 6px -2px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.btn:hover {
    background: #3391FF;
    color: #fff;
}

.social-links li {
    color: #3991FF;
    display: inline;
    font-size: 1.5em;
    margin-right: 10px;
}

article {
    margin: -100px 0 0 30px;
    width: 80%;
}



/*** FOOTER ***/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
}

.social-footer {
    text-align: center;
    padding: 20px 0;
}
.social-footer li {
    color: #fff;
    display: inline;
    font-size: 2em;
    padding: 0 10px;
}



/*** MEDIA QUERIES ***/

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) {

}

@media screen and (min-width: 1024px) {


.title {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
}

