body {
    color: #424242;
    font: 16px 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3991ff;
    font-weight: 500;
}

p {
    line-height: 1.7em;
}

a:link {
    color: #1f61b1;
    text-decoration: none;
}

a:visited {
    color: #1f61b1;
}

a:hover {
    color: #3991ff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* header */

.header {
    background-color: rgba(255,255,255,0.95);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgba(255,255,255,0);
}

.header li a {
    display: block;
    padding: 20px 30px;
    text-align: right;
    text-decoration: none;
    color: #696969;
}

.header li a:hover,
.header .menu-btn:hover {
    color: black;
}

.header span {
    font-weight: 600;
}

.header .logo {
    display: block;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 12px;
    text-decoration: none;
    float: left;
}

.header .logo:hover {
    color: #696969;
}

.header-title {
    margin: 0 30px;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 12px 18px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


.content {
    margin: 0 30px;
    flex: 1;
}

.about-me {
    margin: 100px 0 50px;
}

.about-me p {
    padding-bottom: 15px;
}

.projects-header {
    color: #3991ff;
    margin: 0;
}

.projects-container {
    margin-bottom: 150px;
}
.project {
    display: block;
    margin: 60px 0;
}

.project-img {
    width: 100%;
}

.project-name {
    margin: 5px 0;
}

.project-role {
    margin: 0;
    color: #9c9c9c;
}

.project-summary {
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #232937;
    text-align: center;
    padding: 50px 0 30px;
}

.footer-contact {
    padding-bottom: 20px;
}

.footer-contact li {
    color: #ececec;
    font-size: 1em;
    padding: 6px 0;
}

.footer-diamond {
    display: none;
}

footer p {
    color: #9c9c9c;
    margin: 16px 0 0;
}

.footer-social li {
    display: inline;
    font-size: 2em;
    padding: 20px;
}

/*** MEDIA QUERIES ***/

@media screen and (min-width: 630px) {
    .header {
        height: 90px;
    }

    .header .logo {
        padding-top: 28px;
        font-size: 1.6em;
    }
    
    .header li {
        float: left;
    }

    .header li a {
        padding: 35px 20px;
    }
    
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    
    .about-me {
        width: 75%;
    }

    .project {
        display: flex;
        flex-wrap: wrap;
    }

    .project img {
        align-self: center;
        flex: 0 0 auto;
    }

    .project-title {
        width: 40%
    }

    .project-name {
        margin: 15px 0 0 30px;
    }
    
    .project-role {
        margin: 5px 0 0 30px;
    }

    .project-summary {
        width: 60%;
        margin: 15px 0;
    }

    .footer-contact li {
        display: inline;
        padding: 0 10px;
        font-size: 1em;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 1100px) {
    .header-title,
    .content {
        width: 1070px;
        margin-left: auto;
        margin-right: auto;
    }
}